@import "tailwindcss";
@plugin "daisyui" {
<<<<<<< HEAD
  themes: light --default, coffee --prefersdark, retro, cyberpunk, valentine, aqua;
=======
  themes: light --default, retro, cyberpunk, valentine, aqua;
>>>>>>> 68767086eb2ec8ba94b28528dd15318db5aea673
}

/* Ensure the app takes up the full screen */
#root {
  min-height: 100vh;
  display: flex;
  /* Light background */
}

/* Full-screen sidebar */
.sidebar {
  width: 16rem; 
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #261b1b; 
  box-shadow: 2px 0 10px rgba(81, 69, 69, 0.1);
  padding: 1rem;
}

/* Main content area */
.main-content {
  margin-left: 16rem;
  flex: 1;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* Card styling */
.card {
  padding: 2em;
  background-color: rgb(102, 102, 102);
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(69, 68, 68, 0.1);
  text-align: left;
  max-width: 400px;
  margin: auto;
}




/* modal */

.modal {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001; 
}
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(5px); 
  z-index: 1000; 
}


